#animation {
    top: 21px;
    width: 106px;
    height: 40px;
}

#animation img {
	top: -2px;
	left: -669px;
}

#arts {
    top: 12px;
    width: 70px;
    height: 49px;
}

#arts img {
	top: -2px;
	left: -386px;
}

#about {
    top: 0px;
    width: 118px;
    height: 61px;
}

#about img {
	top: -2px;
	left: -2px;
}