#animation {
    top: 0px;
    width: 144px;
    height: 53px;
}

#animation img {
	top: -2px;
	left: -188px;
}

#arts {
    top: 11px;
    width: 61px;
    height: 42px;
}

#arts img {
	top: -2px;
	left: -399px;
}

#about {
    top: 18px;
    width: 66px;
    height: 35px;
}

#about img {
	top: -2px;
	left: -675px;
}
