#animation {
    top: 10px;
    width: 113px;
    height: 43px;
}

#animation img {
	top: -2px;
	left: -463px;
}

#arts {
    top: 0px;
    width: 78px;
    height: 53px;
}

#arts img {
	top: -2px;
	left: -106px;
}

#about {
    top: 19px;
    width: 66px;
    height: 35px;
}

#about img {
	top: -2px;
	left: -674px;
}
