@import url('reset.css');

/* General Codrops Demo Style */
body{
	background:#000000;
	color:#FFCC00;
	font-family: Arial, sans-serif;
	font-size:14px;
}
a{
	color:#FFCC00;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}
.content{
	width:895px;
    margin: 0 auto;
    /*position:fixed !important;*/
	/*position:absolute;*/
	top:0;
	right:0;
	bottom:0;
	left:0;
}

header
{
	position: relative;
	width: auto;
	max-width: 895px;
	margin: 0 auto 0px auto;
}

header img.title-logo
{
	width: 200px;
}

hr{
	position:absolute;
	width: 100%;
	top:74px;
	z-index: 1;
}

nav
{
  float: right;
  margin-right: 0px;
  margin-top: 30px;
  height: 52px;
}

nav ul
{
	list-style: none;
}

nav ul li
{
	display: block;
	float: left;
	position:relative;
	margin: 0px 1px;
	overflow: hidden;
}

nav ul li a img
{
	position: absolute;
	width: 887px;
	height: 111px;
}

nav ul li a p
{
	margin: 10px;
}

/* MISC */
.clear
{
	clear:both;
}
.hidden
{
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 768px) {
	.content{
		width:100%;
	}
	.header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}
}
