@import url('reset.css');

/* General Codrops Demo Style */
body{
	background:#000000;
	color:#FFCC00;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:14px;
}
a{
	color:#ddd;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}
.content{
	width:768px;
    margin: 0 auto;
}

header
{
	position: relative;
	width: auto;
	max-width: 768px;
	margin: 0 auto 0px auto;
}

hr{
	position:absolute;
	width: 100%;
	top:134px;
	z-index: 1;
}

nav
{
  float: right;
  margin-right: 30px;
  margin-top: 82px;
}

nav ul
{
	list-style: none;
}

nav ul li
{
	display: block;
	float: left;
	position:relative;
	margin: 0px 2px;
	overflow: hidden;
}

nav ul li a img
{
	position: absolute;
	width: 1024px;
	height: 128px;
}

nav ul li a p
{
	margin: 10px;
}

#animation {
    width: 165px;
    height: 61px;
}

#animation img {
	top: -2px;
	left: -217px;
}

#arts {
    top: 12px;
    width: 71px;
    height: 49px;
}

#arts img {
	top: -2px;
	left: -460px;
}

#about {
    top: 22px;
    width: 76px;
    height: 40px;
}

#about img {
	top: -2px;
	left: -779px;
}

@media screen and (max-width: 768px) {
	.content{
		width:100%;
	}
	.header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}
}
