@import url('reset.css');

body{
	background:#000000;
	color:#FFCC00;
	font-family: Arial, sans-serif;
	font-size:14px;
}
a{
	color:#FFCC00;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}
.content{
	width:895px;
	margin: 20px auto;
}

header
{
	position: relative;
	max-width: 895px;
	margin: 0 auto 0px auto;
}

header img.title-logo
{
	margin-left: 5px;
	width: 200px;
}

hr{
	position: relative;
	width: 100%;
	top: 90px;
	z-index: 1;
}

nav
{
	position: absolute;
	float: right;
	margin-right: 5px;
	margin-top: 30px;
	top: 0px;
	right: 0px;
}

nav ul
{
	list-style: none;
}

nav ul li
{
	display: block;
	float: left;
	position:relative;
	margin: 0px 1px;
	overflow: hidden;
}

nav ul li a img
{
	position: absolute;
	width: 887px;
	height: 111px;
}

nav ul li a p
{
	margin: 10px;
}

/* MISC */
.clear
{
	clear:both;
}
.hidden
{
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 768px) {
	.content{
		width:100%;
	}
}

@media screen and (max-width: 485px) {
	hr{
		top: 66px;
	}
	header img.title-logo
	{
		width: 140px;
	}
	nav
	{
		margin-right: -30px;
		margin-top: 14px;
		-ms-transform: scale(0.7,0.7); /* IE 9 */
		-webkit-transform: scale(0.7,0.7); /* Safari */
		transform: scale(0.7,0.7);
	}
}

@media screen and (max-width: 340px) {
	hr{
		top: 50px;
	}
	header img.title-logo
	{
		width: 100px;
	}
	nav
	{
		margin-top: -2px;
	}
}
